#comment-container div {
  display: flex;
  height: 80%;
  border-radius: 20px;
  background: none;
  font-family: var(--text-font);
  color: var(--light-color);
  width: 70%;
}

.comment-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.comment-area button {
  border: solid 3px var(--primary-color);
  border-radius: 20px;
  background: none;
  color: var(--light-color);
  font-family: var(--text-font);
  border: solid 2px var(--primary-color);
  width: 40%;
  height: 10rem;
  cursor: pointer;
}

textarea {
  resize: none;
  height: 100%;
  background: none;
  width: 100%;
  border: none;
}

.textarea-container {
  width: 100%;
  margin-top: 5%;
  border: solid 3px var(--primary-color);
}

.spanDisplayMsg {
  height: 20%;
  width: fit-content;
}

#comment-controler {
  width: 100%;
  opacity: 1;
  display: flex;
  justify-content: center;
}

#commentArea {
  color: var(--light-color);
  font-family: var(--text-font);
  margin-left: 1%;
}
