.credits-global {
  position: absolute;
  width: 100%;
  height: calc(100% - 6rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.credits-container {
  display: flex;
  outline: 3px solid;
  outline-color: var(--primary-color);
  background-color: rgba(128, 128, 128, 0.85);
  border-radius: var(--border-radius);
  height: 80vh;
  width: 85vw;
  color: var(--primary-color);
  overflow-y: scroll;
  overflow: hidden;
  position: relative;
  letter-spacing: 6px;
  line-height: 200%;
  perspective: 300px;
  text-align: justify;
}

.crawl {
  position: relative;
  transform-origin: 50% 100%;
  animation: crawl 80s linear infinite;
}

.crawl > .contact-title {
  font-size: 100%;
  text-align: center;
}

.crawl > .contact-title h1 {
  margin: 0 0 300px;
  text-transform: uppercase;
}

.crawl > p {
  font-size: 3em;
  text-align: center;
  line-height: 100px;
}

@keyframes crawl {
  0% {
    top: -100px;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

@media screen and (max-width: 414px) {
  .credits-container {
    letter-spacing: 3px;
    perspective: 300px;
    overflow-y: scroll;
    overflow: hidden;
  }

  .crawl > p {
    font-size: 1.5em;
    line-height: 50px;
  }
}
