.header,
.header-list,
.header-title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: none;
  border: none;
}

.header {
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 3rem;
}

.header-list {
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: var(--light-color);
  font-family: var(--title-font);
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.header-title a {
  text-decoration: none;
  color: var(--light-color);
}

.burger {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.header-item {
  justify-content: space-evenly;
}

ul a {
  text-decoration: none;
  color: var(--light-color);
  border: none;
  background: none;
  font-family: var(--text-font);
  font-weight: 600;
  cursor: pointer;
  padding: 5px 15px 5px 15px;
}

ul a:hover {
  color: var(--dark-color);
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  padding: 5px 15px 5px 15px;
}

.active {
  color: var(--dark-color);
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
}

@media screen and (max-width: 414px) {
  .header,
  .burger {
    display: grid;
    grid-template-columns: 1fr 6fr;
  }

  .header-list {
    display: none;
  }

  .header-title {
    color: var(--light-color);
    font-family: var(--title-font);
    font-size: 2.5rem;
    padding-right: 3.5rem;
  }

  .burger {
    opacity: 1;
    display: flex;
    flex-direction: column;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 1em;
    background-color: transparent;
    border: transparent;
  }

  .burger-bar {
    width: 2em;
    margin-top: 4px;
    height: 0.3em;
    background-color: var(--primary-color);
    border-radius: 0.5em;
    z-index: 3;
  }

  .menu {
    width: 50%;
    height: 40%;
    margin-left: 1em;
    margin-top: 1em;
    background-color: rgba(128, 128, 128, 0.95);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    position: absolute;
    top: 0;
    z-index: 1;
    text-align: left;
  }

  .classname-link {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  .link a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--light-color);
    text-align: center;
    font-family: var(--text-font);
  }

  .hidden {
    display: none;
  }

  .visible {
    display: inherit;
  }

  .burger-bar.clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.8em, 0.2em);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(2) {
    transform: scale(0);
    transition: ease-out 0.5s;
  }

  .burger-bar.clicked:nth-child(3) {
    transform: rotate(135deg) translate(-0.65em, 0em);
    transition: ease-out 0.5s;
  }
}
