/********************************************** LEFT **********************************************/
.planet-info-left {
  margin-top: 0%;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  z-index: 99;
  overflow-y: hidden;
}

.planet-info-left-pic {
  width: 90%;
  border-radius: var(--border-radius);
  margin: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  max-height: 20vw;
}

.planet-info-left-bottom-container {
  /*   background-color: green; */
  display: flex;
  max-height: 30%;
  margin-left: 5%;
}
.planet-info-left-bottom-container figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid red; */
}

.planet-info-left-bottom-container img {
  width: 40%;
  /* border: blue solid; */
}

/* .planet-info-left-bottom-container-flag {
  border-radius: solid red;
} */

.planet-info-left-bottom-container figcaption {
  /*  border: solid violet; */
  width: 40%;
  margin-top: 3%;
  font-size: 80%;
  color: var(--light-color);
  text-align: center;
}

.planet-info-left-bottom-container-info {
  color: var(--light-color);
  width: 180%;
  display: flex;
  justify-content: space-around;
  /* border: solid yellow; */
}

.planet-info-left-bottom-container-info ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 300%;
  text-decoration: none;
}

.planet-info-left-bottom-container-info li {
  text-decoration: none;
}

/********************************************** RIGHT **********************************************/
.planet-info-right {
  width: 50%;
  height: 100%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--light-color);
}
.planet-info-right figcaption {
  text-align: center;
  font-size: 15px;
}

.planet-info-right h3 {
  margin-bottom: 0.5rem;
  font-size: 22px;
}

.planet-info-right img {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 11rem;
  height: 7rem;
  border-radius: var(--border-radius);
}
/******************************* PEOPLE *******************************/

.planet-info-right-people-pics {
  display: flex;
  justify-content: space-around;
  margin: 0.5%;
}

.planet-info-right-people-title {
  text-align: center;
}

/******************************* Creatures *******************************/

.planet-info-right-creatures-container {
  background-color: transparent;
}

.planet-info-right-creatures-pics {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  margin: 2%;
}

.planet-info-right-creatures-title {
  text-align: center;
}

/******************************* terrains *******************************/
.planet-info-right-terrains-container {
  background-color: transparent;
}
.planet-info-right-terrains-title {
  text-align: center;
}

.planet-info-right-terrains-pics {
  display: flex;
  justify-content: space-around;
  margin: 2%;
}
