.planet-card {
  display: flex;
}

.planet-card-left {
  background-color: lightgreen;
  width: 50%;
  height: 100%;
  z-index: 99;
}

.planet-card-right {
  background-color: lightcoral;
  width: 50%;
  height: 100%;
  z-index: 99;
}

.temperature-and-hour {
  display: flex;
  width: 100%;
  text-align: center;
  padding: 1.8rem;
  font-size: 1.3rem;
}

.temperature-and-hour div {
  justify-content: space-around;
  width: 50%;
}

.weather-icon {
  display: flex;
  justify-content: center;
}

.weather-icon img {
  width: 30%;
}

.weather-spec-icon {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
}

.weather-spec-icon img {
  width: 10%;
}

.weather-spec-data {
  display: flex;
  justify-content: space-around;
}

/************************ RIGHT PART *************************/

.planet-card-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.planet-card-right img {
  background-color: red;
  /*   width: 100%;
 */
  max-height: 50%;
}

.planet-card-right p {
  background-color: aquamarine;
  height: 40%;
}

.planet-card-right button {
  background-color: greenyellow;
  padding: 8px;
  border-radius: 0.5rem;
}
