.MuiPopover-paper {
  outline: 3px solid;
  outline-color: var(--primary-color);
  background-color: rgba(128, 128, 128, 0.677);
  border-radius: var(--border-radius);
}

.popover-container {
  width: 200px;
  display: bloc;
  text-align: center;
  font-family: var(--text-font);
  color: var(--light-color);
  margin: 1rem;
}

.popover-container img {
  width: 50%;
}

.popover-title {
  font-family: var(--title-font);
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  margin: 0.4rem;
}

.popover-container p {
  font-family: var(--text-font);
  font-size: 1.3rem;
  margin: 0.7rem;
}

.popover-hour-time {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 414px) {
  .MuiPopover-paper {
    display: none;
  }
}
