.comment {
  width: 80%;
  /* background: green; */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border: solid 3px var(--primary-color);
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  background: none;
  color: var(--light-color);
}

.comment-header {
  border-bottom: solid 3px var(--primary-color);
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 2.3%;
  padding-top: 2%;
}

.comment-body {
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
  /* background: pink; */
  padding-left: 2.3%;
}

.comment-footer {
  width: 100%;
  /* background: salmon; */
  padding-left: 2.3%;
}
