.header,
.header-list,
.header-title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: none;
  border: none;
}

.header {
  background-color: red;
  align-items: center;
  text-align: center;
  width: 100vw;
}

.header-list {
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: var(--light-color);
  font-family: var(--title-font);
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.header-title a {
  text-decoration: none;
  color: var(--light-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.header-item {
  justify-content: space-evenly;
}

ul a {
  text-decoration: none;
  color: var(--light-color);
  border: none;
  background: none;
  font-family: var(--text-font);
  font-weight: 600;
  cursor: pointer;
  padding: 5px 15px 5px 15px;
}

ul a:hover {
  color: var(--dark-color);
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  padding: 5px 15px 5px 15px;
}

.active {
  color: var(--dark-color);
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
}
