.planet-button {
  border-radius: 50%;
  background-position: center;
  border: none;
  transition: all 0.5;
}

.planet-button:hover {
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.83);
}

/* .planet-container {
  width: auto;
  position: absolute;
  text-align: center;
} */

.planet-name {
  text-align: center;
  color: var(--light-color);
}
