* {
  margin: 0;
  padding: 0;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.others {
  position: absolute;
  z-index: 3;
  width: 100vw;
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: #000 url(..\style\stars.png) repeat top center;
  z-index: 0;
}

.twinkling {
  background: transparent url(..\style\twinkling.png) repeat top center;
  z-index: 1;
  animation: move-twink-back 500s linear infinite;
}
